<div class="text-center">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img
        class="mx-auto h-10 w-auto"
        src="http://usense.com.ua/assets/images/icons/logo.svg"
        alt="logo"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        {{ title }}
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <app-custom-form
        [onSubmit]="onSubmit"
        [form]="form"
        [typeOfStrength]="typeOfStrength"
      />
    </div>
  </div>
</div>
